@charset "utf-8";
*{ margin:0; padding:0; word-wrap: break-word; }
:hover{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
body{
    margin:0;
    padding:0;
    background-color:#FFF;
    font:15px "Microsoft YaHei";
    color:#333;
}
#main{
    margin:0px;
    padding:0;
}

#foot{
    height:50px;
    width:100%;
    background-color:#039;
    color:#ffffff;
}

#footer_wrapper{
    width: 100%;
    background: #093f7f;
    color:#ffffff;
}
    
#footer{
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
    color:#ffffff;
}
    
#footer ul {
    display: inline;
    border-right: 1px solid #fff;
}
    
#footer li {
    display: inline;
    padding: 0 10px 0 12px;
    border-left: 1px solid #fff;
}
    
#footer li a {
    color: #fff;
    text-decoration: none;
}
    
#footer li a:hover {
    color: #ffc;
    text-decoration: underline;
}
    
#footer p.copyright {
    font-size: 77%;
    padding: 20px 0 0 0;
    color: #fff;
}
    
#footer p.copyright a {
    color: #fff;
    text-decoration: none;
}

/*头部logo,search&导航栏*/
#head{
    margin:0;
    padding:0;
    width:100%;
    background-color:#ffffff;
        
}
#head_top{
    width:1024px;
    margin:0 auto;
    background-image:url(../graph/HomePage/logo3.gif);
    background-repeat:no-repeat;
    background-position:20px 15px;
    height:80px;
    margin-bottom:0px;
    padding:0px;
}
#logo a{
    display:block;
    width:380px;
    height:75px;
    margin-left:20px;
    margin-top:0px;
    /*background-color:#06F;*/
}
#search{
    float:right;
    width:255px;
    height:55px;
    margin-top:20px;
}
#head_bottom{
    background-color:#003173;
    height:44px;
    width:100%;
    background-repeat:repeat-x;
    padding:0px;
    margin-top:0px;
}
#head_nav{
    /*margin-left:251px;*/
    height:40px;
    margin-top:0px;    
}
#menu{
    width:1024px;
    line-height:40px;
    margin:0 auto;
}
#menu a{
    display:block;
    height:34px;
    width:auto;
    font:17px "Microsoft YaHei";
    font-weight:300;
    color:#FFF;
    text-decoration:none;
}
#menu li{
    text-align:center;
    display:block;
    float:left;
    height:34px;
    width:auto;
    list-style-type:none;
    vertical-align:middle;
    padding-top:10px;
    background-color:;
    margin-left:2px;
    padding-left:15px;
    padding-right:15px;
}
#menu a:link{
    text-decoration:none;
}
#menu a:visited{
    text-decoration:none;
}
#menu li:hover{
    background-color:#446d93;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;    
}
#menu li ul{
    line-height:40px;
    list-style-type:none;
    text-align:left;
    width:auto;
    min-width:100px;
    position:absolute;
    margin:0;
    padding:0;
    left:-999em;
    z-index:999;
}
#menu li ul li{
    background:#093f7f;
    border-top: 1px solid #fff;
    float: none;
    width:auto;
    min-width:97px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=75); 
    -moz-opacity: 0.70; 
    opacity: 0.7; 
    -khtml-opacity: 0.75;
    padding-left:17px;/*opacity*/
    /*list-style-type:none;
    width:80px;
    display:block;
    height:38px;
    background-color:#003173;
    border:2px #FFFFFF;*/
    text-align: center; 
    -webkit-box-shadow: #666 0px 0px 20px;
    -moz-box-shadow: #666 0px 0px 20px;
    box-shadow: #666 0px 0px 20px;
    behavior: url(/PIE.htc);
}
#menu li ul li a{
    font-weight:normal;
    font-weight:normal;
    font-size:16px;
}
#menu li ul li:hover{
    background:#446d93;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
#menu li:hover ul{
    position:absolute;
    margin:0em;
    margin-left:-1.1em;
    padding:-18em;
    left:auto;
}
#language_change{
    width:90px;    
    float:right;
    height:5px;
    margin-top:10px;
    padding-top:10px;
}
#language_change a{
    width:45px;
    text-decoration:none;
    font:14px Microsoft YaHei;
    color:#FFF;
}
#language_change a:hover{
    color:#0CC;
}


/*main*/
#body{
    width:1034px;
    margin:0 auto;
    display:table;
}
/*right section*/
#body_right{
    width:250px;
      float:right;
      padding:0 0 40px 0;
    background-color:#EEE;
}
#body_right h3 {
    width: 230px;
    height: 35px;
    line-height: 35px;
    margin : 20px 0 0 0;
    background:#B66D6D;
    color: #FFF;
    font-size: 108%;
    font-weight: bold;
    padding: 0 10px;
}

#body_right p.text {
    padding: 10px 10px 0;
    font-size: 14px;
    line-height: 1.5;
    margin-left:5px;
    margin-right:5px;
}

#body_right p.text span.sub_ttl {
    font-size: 108%;
    font-weight: bold;
}

#body_right p.more {
    width: 230px;
    padding: 10px;
    font-size: 77%;
    text-align: right;
}

#body_right p.more a {
    background: url(/images/ico_more.gif) no-repeat left;
    padding: 2px 0 2px 16px;
    text-decoration:none;
    color:#004F75;
}
#body_right p.more a:hover{
    color:#666;
}
    
/*left section*/
#body_left{
    width:770px;
    float:left;
    padding:0 0 40px 0;
}
    
#body_left .area_intro {
    width:770px;
      margin: 0px 0;
      float: left;
}

/*introduction of CCC on home page*/
#intro_list{
    background-color:#F9F9F9;
    width:720px;
    float:left;
    margin-top:20px;
    margin-left:0px;
    margin-bottom:2px;
    padding:10px 25px 10px 25px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px 2px;
    -moz-box-shadow: #999 0px 0px 2px;
    box-shadow: #999 0px 0px 2px;
    color:#444;
}
    
/*highlights index*/
#highlight h3{
    width:770px;
    height: 110px;
    margin: 0px 0 0 0;
    padding: 0px 0 0 0px ;
    /*background:url(../graph/HomePage/ttl_h3_forume.gif) no-repeat;*/  
    font-weight: bold;
    float: left;
}
    
.button_change_quit{
    margin:0 auto;
    margin-top:25px;
    width:600px;
}
    
/*登录后状态显示*/
/*state after login*/
.zhuce{
    margin-left:26px;
}
.logout{
    margin:0 auto;
    display:block;
    height:25px;
    width:120px;
    background-color:#84C1FF;
    border:1px;
    color:#FFF;
    font:15px "Microsoft YaHei";
    padding-top:5px;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
}
    
/*待登录状态*/
/*login state*/
#login_state2{
    margin:0 auto;
    width:700px;
    height:300px;
    -webkit-box-shadow: #999 0px 0px  5px ;
    -moz-box-shadow: #999 0px 0px 5px ;
    box-shadow: #999 0px 0px 5px ;
    display:table;
    padding:50px;
    margin-bottom:45px;
}
#login_state2 ul{
    list-style-type:none;
    background-color:#EBEBEB;
    margin:0;
    /*padding:20px;*/
    -webkit-box-shadow: #999 0px 0px  5px ;
    -moz-box-shadow: #999 0px 0px 5px ;
    box-shadow: #999 0px 0px 5px ;
    margin-bottom:20px;
}
#login_state2 ul li{
    list-style-type:none;
    padding-top:13px;
}
    
.login_submit{
    width: 300px;
    height: 30px;
    font: 15px "Microsoft YaHei";
    font-weight: bold;
    margin: 0 30px;
    background-color: #84C1FF;
    color: #FFF;
    border: 0px;
}
.login_submit:hover{
    background-color:#999;
}
.login_submit:active{
    background-color:#004F75;
}

/*input CSS*/
/*应用于所有的表单*/
input[type="search"]{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

input,select,textarea, {
    font-weight: normal;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select,textarea,option{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#999;
    font-family:"Microsoft YaHei";
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
input[type="file"]{
    display: inline-block;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#999;
    line-height:16px;
    font-family:"Microsoft YaHei";
}
textarea {
    height: auto;
}
textarea,select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
input[type="file"]
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
select:focus,
input:focus,
.uneditable-input:focus {
    border-color: rgba(96, 190, 17, 0.80);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 190, 17, 0.60);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 190, 17, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(96, 190, 17, 0.60);
}

select,input[type="button"],input[type="submit"]{
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */
 
    vertical-align: middle;
}

/********************************/
/* 一下是各个分页面中各部分的css*/
/********************************/

/*课程资源下载页面course_login.php*/
#btn_go{
    width:180px;
    height:50px;
    margin:0 auto;
    margin-top:40px;
    text-align:center;  
}
#btn_go a{
    display:block;
    width:180px;
    height:40px;
    color:#ffffff;
    font-size:20px;
    font-weight:700;
    padding-top:10px;
    text-decoration:none;
    -webkit-box-shadow: #999 0px 0px  5px ;
    -moz-box-shadow: #999 0px 0px 5px ;
    box-shadow: #999 0px 0px 5px ;
    background-color:#06C;
}
#btn_go a:hover{
    background-color:#00C6C6;
    -webkit-box-shadow: #666 0px 0px  15px ;
    -moz-box-shadow: #666 0px 0px 15px ;
    box-shadow: #666 0px 0px 15px ;
}
#little_box ul{
    text-align:center;
}

/*每个人的人物信息people_details.php*/
#people_main{
    margin:0 auto;
    width:950px;
    height:auto;
    margin-top:0px;
    margin-bottom:20px;
    padding:0px 0px 20px 0px;
    background-color:#FFF;
    -webkit-box-shadow: #999 0px 0px  5px ;
    -moz-box-shadow: #999 0px 0px 5px ;
    box-shadow: #999 0px 0px 5px ;
    display:table;
}
#people_title{
    width:900px;
    margin:0 auto;
    height:110px;
}
/*photo*/
#details_photo{
    float:right;
    width:200px;
    height:351px;
    background-color:#ffffff;
    margin:20px 20px 10px 10px;
    -webkit-box-shadow: #888 0px 0px  5px ;
    -moz-box-shadow: #888 0px 0px 5px ;
    box-shadow: #888 0px 0px 5px ;
}
#details_photo img{
    width:180px;
    height:261px;
    margin-left:10px;
    margin-top:10px;
    filter: contrast(1);
    -webkit-filter: contrast(1);
    -moz-filter: contrast(1);
    -o-filter: contrast(1);
    -ms-filter: contrast(1);
}
.box_name{
    margin-left:10px;
    width:180px;
    height:45px;
    margin-top:10px;
    /*background-color:#930;*/
    text-align:center;
    vertical-align:central;
}
#details_type{
    width:200px;
    height:30px;
    text-align:center;
    /*background-color:#930;*/
    color:#B16363;
}
/*Info*/
#details_info{
    float:left;
    width:650px;
    min-height:331px;
    height:auto;
    background-color:#f9f9f9;
    margin:20px 10px 10px 20px;
    padding:10px 20px 10px 20px;
    text-align:left;
    font-size:14px;
    color:#999;
    line-height:22px;
    -webkit-box-shadow: #888 0px 0px  5px ;
    -moz-box-shadow: #888 0px 0px 5px ;
    box-shadow: #888 0px 0px 5px ;
}
#info_ttl{
    width:670px;
    height:40px;
    /*background-color:#0FF;*/
    margin-bottom:10px;
}
/*Interest*/
#details_interest{
    width:870px;
    min-height:150px;
    height:auto;
    /*background-color:#09F;*/
    float:left;
    margin:15px 10px 10px 20px;
    padding:10px 20px 10px 20px;
    font-size:14px;
    color:#999;
    line-height:22px;
    background-color:#f9f9f9;
    -webkit-box-shadow: #888 0px 0px  5px ;
    -moz-box-shadow: #888 0px 0px 5px ;
    box-shadow: #888 0px 0px 5px ;
}
#interest_ttl{
    width:670px;
    height:40px;
    /*background-color:#0FF;*/
    margin-bottom:10px;
}
/*Pub*/
#details_pub{
    width:870px;
    min-height:150px;
    height:auto;
    /*background-color:#09F;*/
    float:left;
    margin:15px 10px 10px 20px;
    padding:10px 20px 20px 20px;
    font-size:14px;
    color:#999;
    line-height:22px;
    background-color:#f9f9f9;
    -webkit-box-shadow: #888 0px 0px  5px ;
    -moz-box-shadow: #888 0px 0px 5px ;
    box-shadow: #888 0px 0px 5px ;
}
#pub_ttl{
    width:670px;
    height:40px;
    /*background-color:#0FF;*/
    margin-bottom:10px;
}
/*Pages翻页*/
#pub_page_num{
    background-color:#f9f9f9;
    border-top: 1px solid #CDC5BF;
    width:820px;
    min-height:25px;
    height:auto;
    float:left;
    margin-top:10px;
    margin-left:0px;
    margin-bottom:0px;
    padding:25px 25px 0px 25px;
    line-height:20px;
    text-align:center; 
}
#pub_page_num a{
    text-decoration:none;
    width: auto;
    min-width:20px;
    height:20px;
    -webkit-box-shadow: #999 0px 0px  2px ;
    -moz-box-shadow: #999 0px 0px 2px ;
    box-shadow: #999 0px 0px 2px ;
    margin-left:10px;
    padding:5px 10px 5px 10px;
    font-weight:bold;
}
#pub_page_num a:hover{
    -webkit-box-shadow: #999 0px 0px  15px ;
    -moz-box-shadow: #999 0px 0px 15px ;
    box-shadow: #999 0px 0px 15px ;
}

/*研究人员首页people.php*/
#people_main{
    margin:0 auto;
    width:950px;
    height:auto;
    margin-top:0px;
    margin-bottom:20px;
    padding-bottom:20px;
    background-color:#FFF;
    -webkit-box-shadow: #999 0px 0px  5px ;
    -moz-box-shadow: #999 0px 0px 5px ;
    box-shadow: #999 0px 0px 5px ;
    display:table;
}
#people_title{
    width:900px;
    margin:0 auto;
    height:110px;
}
#people_all{
margin:0 auto;
    width:810px;
    height:460px;
    margin-top:15px;
    margin-bottom:20px;
    -webkit-box-shadow: #666 0px 0px  5px ;
    -moz-box-shadow: #666 0px 0px 5px ;
    box-shadow: #666 0px 0px 5px ;
}
#people_all:hover{
    -webkit-box-shadow: #666 0px 0px  35px ;
    -moz-box-shadow: #666 0px 0px 35px ;
    box-shadow: #666 0px 0px 35px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
#people_all img{
    width:800px;
    height:450px;
    margin:5px 5px 5px 5px;
}
#research_staff{
    width:950px;
    height:auto;
    margin-bottom:20px;
    /*background-color:#06F;*/
    display:table;
}
#research_staff_title{
    width:900px;
    margin:0 auto;
    height:70px;
}
.people_box{
    float:left;
    width:200px;
    height:351px;
    background-color:#f7f7f7;
    margin:10px 0px 10px 30px;
    -webkit-box-shadow: #666 0px 0px  2px ;
    -moz-box-shadow: #666 0px 0px 2px ;
    box-shadow: #666 0px 0px 2px ;
}
.people_box:hover{
    -webkit-box-shadow: #666 0px 0px 30px ;
    -moz-box-shadow: #666 0px 0px 30px ;
    box-shadow: #666 0px 0px 30px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
.people_box:hover img{
    filter: brightness(85%);
    /*-webkit-filter: brightness(85%);
    -moz-filter: brightness(85%);
    -o-filter: brightness(85%);
    -ms-filter: brightness(85%);*/
    filter: contrast(1.2);
    -webkit-filter: contrast(1.2);
    -moz-filter: contrast(1.2);
    -o-filter: contrast(1.2);
    -ms-filter: contrast(1.2);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
.box_img{
    width:180px;
    height:261px;
}
.people_box img{
    width:180px;
    height:261px;
    margin-left:10px;
    margin-top:10px;
    filter: contrast(1);
    -webkit-filter: contrast(1);
    -moz-filter: contrast(1);
    -o-filter: contrast(1);
    -ms-filter: contrast(1);
}
.box_name{
    margin-left:10px;
    width:180px;
    height:45px;
    margin-top:10px;
    /*background-color:#930;*/
    text-align:center;
    vertical-align:central;
}
.people_details{
    width:190px;
    height:30px;
    text-align:right;
    /*background-color:#930;*/
}
.people_details a{
    text-decoration:none;
    font-size:13px;
    color:#AF6161;
}
#graduate{
    width:950px;
    height:auto;
    margin-bottom:20px;
    /*background-color:#06F;*/
    display:table;
}
#graduate_title{
    width:900px;
    margin:0 auto;
    height:70px;
}
#graduated{
    width:950px;
    height:auto;
    margin-bottom:20px;
    /*background-color:#06F;*/
    display:table;
}
#graduated_title{
    width:900px;
    margin:0 auto;
    height:70px;
}

/*中心新闻主页面news_list.php*/
#news_list_title{
    width:770px;
    height: 110px;
    margin: 0px 0 10px 0;
    padding: 0px 0 0 0px ;
    font-weight: bold;
    float: left;
}

/*每个新闻的内容news_look.php*/
#news_list_title{
    width:770px;
    height: 110px;
    
    margin: 0px 0 10px 0;
    padding: 0px 0 0 0px ;
     
    font-weight: bold;
    float: left;
}
#news_content{
    width: 720px;
    float: left;
    line-height:25px;
}
#news_paper{
    background-color:#F9F9F9;
    width:720px;
    float:left;
    margin-top:20px;
    margin-left:0px;
    padding:10px 25px 10px 25px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px 2px;
    -moz-box-shadow: #999 0px 0px 2px;
    box-shadow: #999 0px 0px 2px;
    color:#444;
}   
#news_date{
    color:#5E5E5E;
    font-size:14px;
    margin-bottom:10px;
}
#news_paper img{
    max-width:720px;
    width:auto;
    margin:0 auto;  
    margin-bottom:10px;
    margin-top:10px;
}
#news_title{
    color:#366;
    font-weight:600;
    font-size:18px;
    margin-bottom:10px;
}

/*新闻列表news_in_list.php*/
.news_list{
    background-color:#F9F9F9;
    width:720px;
    min-height:25px;
    height:auto;
    float:left;
    margin-top:1px;
    margin-left:0px;
    margin-bottom:2px;
    padding:10px 25px 8px 25px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px  2px ;
    -moz-box-shadow: #999 0px 0px 2px ;
    box-shadow: #999 0px 0px 2px ;
    color:#444;
    opacity: .8;  
    -ms-filter: "alpha(opacity=80)"; 
    filter: alpha(opacity=80);   
    -khtml-opacity: .8;  
    -moz-opacity: .8; 
}
.news_list:hover{
    /*opacity: .5;  
    -ms-filter: "alpha(opacity=50)"; 
    filter: alpha(opacity=50);   
    -khtml-opacity: .5;  
    -moz-opacity: .5; */
    -webkit-box-shadow: #666 0px 0px  12px ;
    -moz-box-shadow: #666 0px 0px 12px ;
    box-shadow: #666 0px 0px 12px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
.news_list a{
    text-decoration:none;
    color:#295454;
    font-weight:600;
    font-size:16px;
}

/*研究亮点列表highlights_in_list.php*/
.highlights_list{
    background-color:#F9F9F9;
    width:730px;
    height:130px;
    float:left;
    margin-top:5px;
    margin-left:0px;
    margin-bottom:2px;
    padding:10px 25px 10px 15px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px  2px ;
    -moz-box-shadow: #999 0px 0px 2px ;
    box-shadow: #999 0px 0px 2px ;
    color:#444;
    opacity: .8;  
    -ms-filter: "alpha(opacity=80)"; 
    filter: alpha(opacity=80);   
    -khtml-opacity: .8;  
    -moz-opacity: .8; 
}
.highlights_list:hover{
    /*opacity: .5;  
    -ms-filter: "alpha(opacity=50)"; 
    filter: alpha(opacity=50);   
    -khtml-opacity: .5;  
    -moz-opacity: .5; */
    -webkit-box-shadow: #666 0px 0px  12px ;
    -moz-box-shadow: #666 0px 0px 12px ;
    box-shadow: #666 0px 0px 12px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
.highlights_pho{
    height:130px;
    width:130px;
    float:left;
    
}
.highlights_pho img{
    height:120px;
    width:120px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    behavior:url(./PIE-CSS3/PIE.htc);
}
.highlights_title{
    width:590px;
    height:40px;
    float:right;
    color:#326565;
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}
.highlights_title a{
    text-decoration:none;
    color:#326565;
}
.highlights_title a:hover{
    text-decoration:none;
    color:#09F;
}
.highlights_contnt{
    width:590px;
    height:90px;
    float:right;
}

/*highlights_in_list.php & news_in_list.php & publication_in_list.php 共用*/
#page_num{
    background-color:#f0f0f0;
    width:720px;
    min-height:25px;
    height:auto;
    float:left;
    margin-top:10px;
    margin-left:0px;
    margin-bottom:2px;
    padding:10px 25px 8px 25px;
    line-height:20px;
    -webkit-box-shadow: #666 0px 0px  2px ;
    -moz-box-shadow: #666 0px 0px 2px ;
    box-shadow: #666 0px 0px 2px ;
    color:#444;
    opacity: .8;  
    -ms-filter: "alpha(opacity=80)"; 
    filter: alpha(opacity=80);   
    -khtml-opacity: .8;  
    -moz-opacity: .8;
    text-align:center; 
}
#page_num a{
    text-decoration:none;
    width:20px;
    height:20px;
    -webkit-box-shadow: #999 0px 0px  2px ;
    -moz-box-shadow: #999 0px 0px 2px ;
    box-shadow: #999 0px 0px 2px ;
    margin-left:10px;
    padding:5px 5px 5px 5px;
}
#page_num a:hover{
    -webkit-box-shadow: #999 0px 0px  15px ;
    -moz-box-shadow: #999 0px 0px 15px ;
    box-shadow: #999 0px 0px 15px ;
}

/*每个研究亮点内容highlights_look.php*/
#highlights_content{
    width: 770px;
    float: left;
}
#highlights_content h3{
    width:770px;
    height: 110px;
    margin: 0px 0 0 0;
    padding: 0px 0 0 0px ;
    font-weight: bold;
    float: left;
}
#highlights_paper{
    background-color:#F9F9F9;
    width:720px;
    float:left;
    margin-top:20px;
    margin-left:0px;
    padding:10px 25px 10px 25px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px 2px;
    -moz-box-shadow: #999 0px 0px 2px;
    box-shadow: #999 0px 0px 2px;
    color:#444;
}   
#highlights_paper img{
    max-width:720px;
    width:auto;
    margin:0 auto;  
    margin-bottom:10px;
    margin-top:10px;
}
#highlights_title{
    color:#366;
    font-weight:600;
    font-size:18px;
    margin-bottom:10px;
}

/*发表论文列表publication_in_list.php*/
.pub_list{
    background-color:#F9F9F9;
    width:720px;
    min-height:25px;
    height:auto;
    float:left;
    margin-top:3px;
    margin-left:0px;
    margin-bottom:2px;
    padding:10px 25px 8px 25px;
    line-height:20px;
    -webkit-box-shadow: #999 0px 0px  2px ;
    -moz-box-shadow: #999 0px 0px 2px ;
    box-shadow: #999 0px 0px 2px ;
    color:#444;
    opacity: .8;  
    -ms-filter: "alpha(opacity=80)"; 
    filter: alpha(opacity=80);   
    -khtml-opacity: .8;  
    -moz-opacity: .8; 
}
.pub_list:hover{
    /*opacity: .5;  
    -ms-filter: "alpha(opacity=50)"; 
    filter: alpha(opacity=50);   
    -khtml-opacity: .5;  
    -moz-opacity: .5; */
    -webkit-box-shadow: #666 0px 0px  12px ;
    -moz-box-shadow: #666 0px 0px 12px ;
    box-shadow: #666 0px 0px 12px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition:  0.5s;
}
.pub_list a{
    text-decoration:none;
    color:#295454;
    font-weight:600;
    font-size:16px;
}
.pub_list a:hover{
    color:#AB5656;
}