@charset "utf-8";
/* 博客top */
:hover{
		-webkit-transition: 0.5s;
		-moz-transition:0.5s;
		-o-transition: 0.5s;
		transition:  0.5s;
	}
body{
		background-image:url(../graph/Blog/grey.jpg);
		background-repeat:repeat;
		padding:0px;
		margin:0px;
		font-family:"微软雅黑";
	}
	#blog_top{
		margin:0px;
		width:1000px;
		height:580px;
		background-color:#FFF;
		margin:0 auto;
		padding:0px;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);

	}
	#blog_top_pic{
		width:1000px;
		height:450px;
		background-image:url(../graph/Blog/bg2.jpg);
		padding:0px;
		margin:0px;
	}
	#blog_top_body{
		width:1000px;
		height:65px;
		margin:0px;
		padding:0px;
		/*background-image:url(../graph/Blog/grey_wenli.jpg);*/
		background-color:#e8e8e8;
		padding-top:65px;
	}
	#blog_top_nav{
		width:1000px;
		height:65px;
		margin:0px;
		padding:0px;
		background-color:#a6caf0;
		filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=55); -moz-opacity: 0.50; opacity: 0.5; -khtml-opacity: 0.55;
		-webkit-box-shadow: #d6dadd 0px 0px 5px;
		-moz-box-shadow: #d6dadd 0px 0px 5px;
		box-shadow: #d6dadd 0px 0px 5px;
		behavior: url(/PIE.htc);
		
	}
	#blog_nav_menu{
		width:800px;
		height:65px;
		margin:0px;
		padding:0px;
		margin:0 auto;
		text-align:center;

	}
	#blog_nav_menu ul{
		list-style-type:none;
		margin:0 auto;

	}
	#blog_nav_menu a{
		display:block;
		height:44px;
		width:150px;
		float:left;
		text-align:center;
		padding-top:21px;
		text-decoration:none;
		font:17px "微软雅黑";
		font-weight:200;
		color:#FFF;
	}
	#blog_nav_menu a:hover{
		/*background-color:#E9E9E9;
		color:#F90;*/
		text-align: center; 
		-webkit-box-shadow: #666 0px 0px 20px;
		-moz-box-shadow: #666 0px 0px 20px;
		box-shadow: #666 0px 0px 20px;behavior: url(/PIE.htc);
	}
	#blog_face{
		width:165px;
		height:165px;
		background-color:#FFF;
		margin-left:40px;
		margin-top:-250px;
		padding-left:3px;
		padding-right:2px;
		padding-top:5px;
		text-align: center; 
		-webkit-box-shadow: #666 0px 0px 5px;
		-moz-box-shadow: #666 0px 0px 5px;
		box-shadow: #666 0px 0px 5px;behavior: url(/PIE.htc);
	}
	#blog_username{
		height:30px;
		width:200px;
		margin-left:220px;
		margin-top:-82px;
		/*background-color:#FFF;*/
		font-size:18px;
		font-family:"微软雅黑";
		padding-top:35px;
		color:#039;
		padding-bottom:0px;
		font-weight:200;
	}
	#blog_motto{
		height:20px;
		width:500px;
		margin-left:220px;
		margin-top:-9px;
		/*background-color:#FFF;*/
		font-size:13px;
		font-family:"微软雅黑";
		padding-top:5px;
		color:#999;
		padding-bottom:0px;
		font-weight:200;
	}
	#blog_log_state{
		width:400px;
		height:30px;
		/*background-color:#FFF;*/
		float:right;
		margin-top:-100px;
	}
	#log_state_in{
		float:right;
		margin-right:10px;
		font:16px "微软雅黑";
		font-weight:300;
		color:#999;
	}
	#log_state_in a{
		text-decoration:none;
		color:#ACACFF;
	}
	#log_state_in a:hover{
		color:#F90;
	}
	
	/*编辑器*/
	#blog_title{
		margin-left:35px;
		color:#999;
		font:15px ""微软雅黑;
		margin-top:30px;
		
	}
	#subject{
		border-width:0px;
		height:40px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;		
		border-radius: 4px;
		-webkit-box-shadow: #d6dadd 0px 0px 5px;
		-moz-box-shadow: #d6dadd 0px 0px 5px;
		box-shadow: #d6dadd 0px 0px 5px;
		behavior: url(/PIE.htc);
		margin-bottom:30px;
		width:730px;
		margin-top:0px;
	}
	#blog_pub_body{
		width:1000px;
		margin:0px;
		padding:0px;
		/*background-image:url(../graph/Blog/grey_wenli.jpg);*/
		background-color:#e8e8e8;
		margin-top:0px;
		min-height:500px;
		height:auto;
		margin:0 auto;
		padding-top:15px;
		padding-bottom:15px;
		margin-bottom:20px;
		-webkit-box-shadow: #999 5px 0px 5px ;
		-moz-box-shadow: #999 5px 0px 5px ;
		box-shadow: #999 0px 5px 5px ;
		behavior: url(/PIE.htc);
	}
	#blog_pub_in{
		width:800px;
		margin:0 auto;
		padding:0px;
		background-color:#F7F7F7;
		margin-top:0px;
		min-height:400px;
		height:auto;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding-bottom:-150px;
		-webkit-box-shadow: #d6dadd 0px 0px 5px;
		-moz-box-shadow: #d6dadd 0px 0px 5px;
		box-shadow: #d6dadd 0px 0px 5px;
		behavior: url(/PIE.htc);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	#editor{
		
		margin:0 auto;
		margin-bottom:0px;
	}
	
	
	
	
	/*博客单篇文章blog_lookblog*/
	body{
		background-image:url(../graph/Blog/grey.jpg);
		background-repeat:repeat;
		padding:0px 0px 30px 0px;
		margin:0px;
		font-family:"微软雅黑";
	}
	#blog_look_top{
		margin:0px;
		width:900px;
		height:350px;
		background-color:#FFF;
		margin:0 auto;
		padding:0px;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	#blog_look_top_pic{
		width:900px;
		height:250px;
		background-image:url(../graph/Blog/blog_top_pic.jpg);
		padding:0px;
		margin:0px;
	}
	#blog_look_top_body{
		width:900px;
		height:100px;
		margin-top:250px;
		margin:0px;
		padding:0px;
		background-color:#F7F7F7;
	}
	#blog_look_face{
		width:140px;
		height:140px;
		background-color:#FFF;
		margin-left:30px;
		margin-top:-170px;
		padding-left:3px;
		padding-right:2px;
		padding-top:5px;
		text-align: center; 
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	#blog_look_author{
		width:200px;
		height:25px;
		margin-left:190px;
		margin-top:-70px;
		padding-top:5px;
		font-size:18px;
		color:#039;
		font-weight:lighter;
		font-family:Microsoft YaHei;
	}
	#blog_look_motto{
		width:400px;
		height:25px;
		margin-left:190px;
		margin-top:0px;
		padding-top:5px;
		font-size:13px;
		color:#C0C0C0;
		font-weight:lighter;
		font-family:Microsoft YaHei;
	}
	#blog_look_body{
		margin:0px;
		width:900px;
		min-height:200px;
		height: auto;
		background-color:#F7F7F7;
		margin:0 auto;
		margin-bottom:30px;
		padding:0px;
		padding-bottom:30px;
		margin-top:65px;
		-webkit-box-shadow: #999 0px 0px 4px;
		-moz-box-shadow: #999 0px 0px 4px;
		box-shadow: #999 0px 0px 4px;
		behavior: url(/PIE.htc);
	}
	#blog_look_title{
	width: 800px;
	min-height: 35px;
	height:auto;
	display:table;
	margin: 0 auto;
	border-bottom: 1px solid #e8e8e8;
	color: #999;
	font-size: 19px;
	font-weight: inherit;
	padding-top: 35px;
	}
	#blog_look_content{
		width:760px;
		min-height:100px
		height:auto;
		margin:0 auto;
		color:#999;
		font-size:14px;
		font-weight:inherit;
		padding-top:15px;
		line-height:25px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:10px;
		margin-bottom:0px;
	}
	img{
		max-width:770px;
		width:auto;
	} 
	#blog_look_comment{
		padding-top:2px;
		margin-top:20px;
		padding-bottom:20px;
		min-height:66px;
		height:auto;
		width:900px;
		background-color:#F7F7F7;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	#comment_input{
		width:800px;
		height:43px;
		margin-left:65px;
		margin-top:15px;
		
	}
	#text_comment{
		height:35px;
		border-width:0px;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font-family:Microsoft YaHei;
		color:#999;
	}
	#submit_comment{
		width:90px;
		height:35px;
		margin-left:15px;
		background-color:#EEE;
		color:#9D9D9D;
		font-family:Microsoft YaHei;
		border:0px;
		-webkit-box-shadow: #999 0px 0px 1px;
		-moz-box-shadow: #999 0px 0px 1px;
		box-shadow: #999 0px 0px 1px;
		behavior: url(/PIE.htc);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	#submit_comment:hover{
		filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	/*回复博客评论*/
	.reply_blog_com{
		margin-left:70px;
		margin-top:10px;
		margin-bottom:15px;
	}
	#text_reply_comment{
		height:25px;
		border-width:0px;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font-family:Microsoft YaHei;
		color:#999;
		}
	#submit_reply_comment{
		width:60px;
		height:25px;
		margin-left:15px;
		background-color:#EEE;
		color:#9D9D9D;
		font-family:Microsoft YaHei;
		border:0px;
		-webkit-box-shadow: #999 0px 0px 1px;
		-moz-box-shadow: #999 0px 0px 1px;
		box-shadow: #999 0px 0px 1px;
		behavior: url(/PIE.htc);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
	#submit_reply_comment:hover{
		filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
		-webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	.show_blog_reply{
		margin:0 auto;
		margin-left:70px;
		width:750px;
		min-height:45px;
		height:auto;
		border-bottom:1px solid #e8e8e8;
		font:14px Microsoft YaHei;
		color:#999;
	}
	.table_reply{
		margin-left:20px;
	}
	#blank{
		height:30px;
		width:900px;
	}
	.reply_img:hover{
		 filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
		 -webkit-box-shadow: #999 0px 0px 5px;
		-moz-box-shadow: #999 0px 0px 5px;
		box-shadow: #999 0px 0px 5px;
		behavior: url(/PIE.htc);
	}
	/*文章信息*/
	#blog_info{
		width:760px;
		margin-left:90px;
		margin-right:20px;
		color:#006B9F;
		font-size:14px;
		font-weight:inherit;
		height:20px;
	}
	.blog_info_sub{
		width:70px;
		height:20px;
		float:right;
		margin-right:20px;
	}
	.blog_info_sub_share{
		width:150px;
		height:16px;
		
		vertical-align:middle;
	}
	.blog_info_sub_share1{
		width:50px;
		float:left;
		padding-top:3px;
		line-height:20px;
		
	}
	/*返回顶部*/
	#returntop{
		border:0px #ccc solid;
		background-image:url(../graph/Blog/return_top2.gif);
		width:50px;
		height:50px;
		position:fixed;
		_position:absolute;
		line-height:30px;
		text-align:center;
		top:0px;
		left:0px;
		display:none;
		cursor:pointer;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=45); -moz-opacity: 0.30; opacity: 0.3; -khtml-opacity: 0.30;
		
		}
#returntop:hover{
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
/*-webkit-box-shadow: #666 0px 0px 5px;
-moz-box-shadow: #666 0px 0px 5px;
box-shadow: #666 0px 0px 5px;
behavior: url(/PIE.htc);*/
}
a{
text-decoration:none;
}
/*右上角*/
#right_top{
	width:196px;
	height:40px;
	bottom:0px;
	left:0px;
	position:fixed;
	_position:absolute;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	/*background-color:#FFF;*/
}
#return_index{
	float:right;
	display:block;
	width:120px;
	height:33px;
	background:url(../graph/Blog/return_blog_index2.gif);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:14px;
	color:#999;
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=45); -moz-opacity: 0.30; opacity: 0.3; -khtml-opacity: 0.30;
}
#return_index:hover{
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
}
#delete_blog{
	float:left;
	margin-right:5px;
	display:block;
	width:33px;
	height:33px;
	background:url(../graph/Blog/delete_blog2.gif);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:14px;
	color:#999;
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=45); -moz-opacity: 0.30; opacity: 0.3; -khtml-opacity: 0.30;
}

#delete_blog:hover{
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
}
#edit_blog{
	float:left;
	margin-right:5px;
	display:block;
	width:33px;
	height:33px;
	background:url(../graph/Blog/edit_blog.gif);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:14px;
	color:#999;
	filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=45); -moz-opacity: 0.30; opacity: 0.3; -khtml-opacity: 0.30;
	}
	#edit_blog:hover{
		filter: 		progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4) alpha(opacity=85); -moz-opacity: 0.80; opacity: 0.8; -khtml-opacity: 0.85;
	}
	
	
	/*博客标签*/
	.blog_look_tag{
		/*background-color:#096;*/
		width:760px;
		margin:0 auto;
		min-height:30px;
		height:auto;
		display:table;
		margin-bottom:15px;
	}
	.blog_look_tag span a{
		width:auto;
		padding:0px 15px 0px 10px;
		padding-bottom:2px;
		font-size:14px;
		color:#fff;
		float:left;
		margin-bottom:10px;
		margin-left:10px;
		text-decoration:none;
		background-color:#7BBDBD;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		font-weight:700;
		/*-webkit-box-shadow: #999 0px 0px 4px;
		-moz-box-shadow: #999 0px 0px 4px;
		box-shadow: #999 0px 0px 4px;*/
	}
	.blog_look_tag span a:hover{
		background-color:#999;
		-webkit-box-shadow: #999 0px 0px 8px;
		-moz-box-shadow: #999 0px 0px 8px;
		box-shadow: #999 0px 0px 8px;
	}
	